/* BASE CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(15, 66, 10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: 50;
    font-family: 'Hind', sans-serif;
    margin: 1rem 0 3rem;
    text-align: center;
    color: #fff;
}

/* FORM */

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.styling {
    font-weight: 800;
    color: lime;
    margin-right: 10px;
}

/* INPUT FIELDS STYLING */
.titleInput,
.desInput,
.imgUrl
 {
    padding: 0.5rem 1rem;
    height: 50px;
    min-width: 5%;
    outline: none;
    background-color: #fff;
    font-size: 1.15rem;
    margin: 0.25rem;
    border-radius: 25px;
    border: none;
}

/* ITEM PRICE  */
.itemPrice {
    padding: 0.5rem 1rem;
    height: 50px;
    width: 125px;
    outline: none;
    background-color: #fff;
    font-size: 1.15rem;
    margin: 0.25rem;
    border-radius: 25px;
    border: none;
}

.itemPrice::before {
    content: "$";
}

/* SUBMIT BUTTON */
.submitBtn {
    font-size: 1.5625rem;
    height: 50px;
    width: 50px;
    margin: .025rem;
    border-radius: 25px;
    border: none;
    outline: none;
    color: #fff;
    background-color: lime;
    cursor: pointer;
}

.submitBtn:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* CONTAINER FOR CREATED ITEMS BY DOM */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    height: 460px;
    width: 80%;
    overflow: overlay;
}

/* ITEM  */
.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: .5rem;
    margin-bottom: 1.5rem;
    border-bottom: 4px solid #fff;
}

/* TITLE FIELD */
.title {
    background: none;
    outline: none;
    color: #fff;
    border: none;
    width: 150px;
    font-size: 1.4rem;
    word-wrap: break-word
}

/* DESCRIPTION FIELD */
.description {
    background: none;
    outline: none;
    color: #fff;
    border: none;
    width: 300px;
    font-size: 1.4rem;
    word-wrap: break-word
}

/* EDIT BUTTON */
.editBtn {
    cursor: pointer;
    font-family: 'Hind', sans-serif;
    font-size: 1.4rem;
    background: none;
    outline: none;
    border: none;
    color: lime;
    margin: 0 0.5rem;
    cursor: pointer;
}

/* DELETE BUTTON */
.removeBtn {
    font-family: 'Hind', sans-serif;
    font-size: 1.4rem;
    background: none;
    outline: none;
    border: none;
    color: #e00;
    cursor: pointer;
}

/* SAVE BUTTON */
.saveBtn {
    cursor: pointer;
    font-family: 'Hind', sans-serif;
    font-size: 1.4rem;
    background: none;
    outline: none;
    border: none;
    color: lime;
    margin: 0 0.5rem;
    cursor: pointer;
}

.editBtn:hover, .removeBtn:hover, .saveBtn:hover{
    cursor: pointer;
    opacity: 0.7;
}

/* IMAGE URL */
.imageUrl{
    border-radius: 50%;
    border: none;
    height: 75px;
    width: 75px;
    margin-right: 10px;
}

/* CHECKBOX */
.checkbox
{
    cursor: pointer;
  transform: scale(2);
  padding: 10px;
  margin-right: 20px;
}

/* POPUP MODAL */
.modal {
    background: white;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    transition: 200ms ease-in-out;
    z-index: 10;
    width: 31.25rem;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

/* MODAL HEADER */
.modal-header {
    padding: .625rem .9375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .popupTitle {
    font-size: 2rem;
    font-weight: bold;
}

.modal-header .closeBtn {
    color: black;
    cursor: pointer; 
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
}

.modal-body {
    padding: .625rem .9375rem;
}

/* OVERLAY BACKGROUND */
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 200ms ease-in-out;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* POPUP FORM */
.popUp-form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.popUp-form input {
    padding: 0.5rem 1rem;
    height: 50px;
    min-width: 5%;
    outline: none;
    background-color: #fff;
    font-size: 1.15rem;
    margin: 0.25rem;
    border-radius: 25px;
    border: none;
}



