/* BASE CSS */

:root {
    --avocado-green: #1ea714;
    --chard-green: #004e36;
    --local-hover: #c0303f;
    --mushroom-grey: #565553;
    --squidink-black: #2e2d2b;
    --tahini-grey: #f8f7f5;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: var(--chard-green);
    display: flex;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
    height: 100vh;
    justify-content: center;
}

h1 {
    color: var(--white);
    font-size: 3rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: center;
}

/* FORM */

.form {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.styling {
    color: var(--avocado-green);
    font-weight: 800;
    margin-right: 10px;
}

/* INPUT FIELDS STYLING */
.titleInput,
.desInput,
.imgUrl {
    background-color: var(--white);
    border-radius: 25px;
    border: none;
    font-size: 1.15rem;
    height: 50px;
    margin: 0.25rem;
    min-width: 5%;
    outline: none;
    padding: 0.5rem 1rem;
}

/* ITEM PRICE INPUT */
.itemPrice {
    background-color: var(--white);
    border-radius: 25px;
    border: none;
    font-size: 1.15rem;
    height: 50px;
    margin: 0.25rem;
    outline: none;
    padding: 0.5rem 1rem;
    width: 125px;
}

/* ITEM PRICE LIST */

.price-list {
    color: var(--avocado-green);
    font-size: 1.15rem;
}

.price-list::before {
    content: "$";
}

/* SUBMIT BUTTON */
.submitBtn {
    background-color: var(--avocado-green);
    border: 2px solid var(--white);
    border-radius: 50%;
    color: var(--white);
    cursor: pointer;
    font-size: 1rem;
    height: 50px;
    width: 50px;
    transition: all .3s ease-in-out;
}

.submitBtn:hover {
    background-color: var(--white);
    border: 2px solid var(--chard-green);
    color: var(--avocado-green);
}


/* CONTAINER FOR CREATED ITEMS BY DOM */
.container {
    background-color: var(--white);
    border-radius: 20px;
    height: 460px;
    margin-top: 2rem;
    overflow-y: scroll;
    width: 60%;
}

.container::-webkit-scrollbar {
    display: none;
}

/* LIST ITEM  */
.item-list {
    align-items: center;
    border-bottom: 2px solid #F5F5F5;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;    
}

.item-list:last-child {
    border-bottom: none;
}

/* DIV TO ALIGN CHECKBOX, IMAGE, TITLE, AND DESCRIPTION TO THE LEFT */
.leftWrapper {
    align-items: left;
    display: flex;
    margin-left: 20px;
}

/* TITLE AND DESCRIPTION WRAPPER */
.item-details {
    margin-left: 20px;
    text-align: left;
}

/* TITLE FIELD */
.title {
    color: var(--squidink-black);
    font-size: 1.4rem;
}

/* DESCRIPTION FIELD */
.description {
    border: none;
    color: var(--mushroom-grey);
    font-size: 1.4rem;
}

/* BUTTONS WRAPPER */
.buttons {
    margin-left: auto;

}

/* BUTTONS */
.editBtn,
.removeBtn,
.saveBtn
 {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1.5rem;
    height: 1.25rem;
    min-height: 44px;
    min-width: 44px;
    transition: all .3s ease-in-out;
    width: 1.25rem;
}

.editBtn:hover,
.saveBtn:hover
 {
    color: var(--avocado-green);
    transform: scale(1.3);
}

.editBtn:focus,
.saveBtn:focus,
.submitBtn:focus {
    outline: 0;
}

.removeBtn:hover {
    color: var(--local-hover);
    transform: scale(1.3);
}

.removeBtn:focus {
    outline: 0;
}

/* IMAGE URL */
.imageUrl {
    border: none;
    height: 75px;
    transition: all .3s ease-in-out;
    width: 75px;
}

.imageUrl:hover {
    transform: scale(1.3);
}

/* CHECKBOX */
.checkbox {
    cursor: pointer;
    margin-right: 20px;
    width: 1.25rem;
    transition: all .3s ease-in-out;
}

.checkbox:hover {
    transform: scale(1.2);
}

/* POPUP MODAL */
.modal {
    background: var(--tahini-grey);
    border-radius: 20px;
    border: 1px solid var(--squidink-black);
    color: var(--squidink-black);
    left: 50%;
    max-width: 80%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s ease-in-out;
    width: 31.25rem;
    z-index: 10;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

/* MODAL HEADER */
.modal-header {
    align-items: center;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    padding: .625rem .9375rem;
}

.modal-header .popupTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 20px;
}

.modal-header .closeBtn {
    background: none;
    border: none;
    color: var(--chard-green);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 20px 15px 0 5px;
    outline: none;
}

.modal-close:hover {
    color: var(--avocado-green);
    border-bottom: 2px solid var(--avocado-green) ;
}

.fa-ellipsis-vertical {
    margin-right: 20px;
}

.modal-body {
    padding: .625rem .9375rem;
}

/* OVERLAY BACKGROUND */
#overlay {
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: .3s ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* POPUP FORM */
.popUp-form {
    align-items: left;
    display: flex;
    flex-direction: column;
}

.popUp-form input {
    background-color: var(--tahini-grey);
    background-color: var(--white);
    border-radius: 25px;
    border: none;
    font-size: 1.15rem;
    height: 50px;
    margin: 0.25rem;
    min-width: 5%;
    outline: none;
    padding: 0.5rem 1rem;
    width: 100%;
}

.popUp-form:last-child {
    align-items: center;
}