* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.main-container {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxes-container {
  height: 250px;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px;
  gap: 5px;
}

.box {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
}

.buttons-container {
  display: grid;
  gap: 5px;
  grid-template-columns: 150px 150px;
  align-items: center;
}

.buttons {
  width: 150px;
  height: 50px;
  border: 2px solid gray;
  border-radius: 10px;
}

.buttons:hover {
  scale: 1.02
}

.buttons:last-child {
  margin-left: 75px;
  margin-bottom: 3rem
}