body {
    margin: 1.5em auto;
    width: 90%;
}
h1 {
    color: darkgreen;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 90%;
}

p {
    line-height: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.p-uppercase {
    text-transform: uppercase;
}

img {
    float: left;
    width: 200px;
    margin-right: 10px;
}
