* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/* Navbar */
nav {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%
}

nav > .icon {
  font-size: 2rem;
  color: #fff;
  margin-right: 10px;
}

nav > h3 {
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  letter-spacing: -0.075em;
  line-height: 18px;
}

/* container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  margin-top: 30px;
  width: 85%;
}

/* Section */

section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #F5F5F5;
  border-radius: 20px;
}

.section-img {
  margin: 20px;
  width: 400px;
  height: auto;
  border-radius: 20px;
}

.section-details {
  margin: 2rem;
}

.destination {
  display: flex;
  align-items: center;
}

.des-icon {
  font-size: 1rem;
  color: #F55A5A;
  margin-right: 5px;
}

.des-country {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 12px;
  letter-spacing: 0.17em;
  margin-right: 15px;
  text-transform: uppercase;
}

.des-map {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
}

.location {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 30px;
  color: #2B283A;
  margin-top: 0;
}

.date {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 12px;
  color: #2B283A;
}

.cost-text {
  font-size: 1.5rem;
  color: white;
  background-color: #2B283A;
  width: 120px;
  height: 40px;
}
.cost {
  margin-left: 5px;
  font-weight: bold;
  color: gold;
}

.description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  color: #2B283A;
}

@media only screen and (max-width: 400px) {
section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding-bottom: 30px ;
  border-bottom: 1px solid #F5F5F5;
  }
}