* {
    margin: 0;
    padding: 0;
}

body {
    padding: 1rem;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sub-title {
    text-align: center;
}

.name {
    color: peachpuff;
}

#main {
    width: 500px;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
}
#messages-container{
    margin-top: 1rem;
    padding: 1rem;
    height: 200px;
    border-radius: 1rem;
    overflow: scroll;
}

.message-right{
    text-align: right;
}

.wrapper-right{
    align-items: flex-end;

}
.wrapper-left{
    align-items: flex-start;
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #c2cbd8;
    border-radius: 1rem;
    padding: 10px;
    margin: 5px;
}

