.trending-movies {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.movie-item {
    position: relative;
}
.movie-item img {
    border-radius: 6px;
    width: 200px;
    height: 300px;
}

.movie-item h3 {
    position: absolute;
    font-size: 13px;
    line-height: 1.3em;
    font-weight: 400;
    margin: 0;
    right: 0;
    bottom: 10px;
    left: 0;
    color: #fff;
    font-size: 13px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

