* {
    box-sizing: border-box;
    margin: 0;
  }
  
body {
    width: 100%;
    height: 100vh;
  }

.output {
    width: 150px;
    height: 40px;
    border: 1px solid black;
    margin: 20px;
    padding: 2px 4px;
  }

article {
    padding: 20px;
  }

form {
  padding: 10px;
  }
