/* Heading styles */
h1 {
    font-size: 3em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Container styles */
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #fddb92, #d1fdff);
    text-align: center;
}

/* Numbers container styles */
.numbers-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin: 30px 0;
}

/* Dice Box styles */
.dice-box {
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin: 10px;
}

/* Button styles */
.button {
    background: linear-gradient(to right, #fddb92, #d1fdff);
    color: #333;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

/* Button hover styles */
.button:hover {
    transform: scale(1.05);
    background: linear-gradient(to left, #fddb92, #d1fdff);
}

